@import "../../../../scss/index.scss";

.my-info {
  img {
    width: 150px;
    height: 90px;
    margin-bottom: 20px;
  }
  h4 {
    margin-bottom: 20px;
    color: white;
    font-size: medium;
  }

  .social-links {
    justify-content: flex-start;
  }
}
